:root {
  --theme-color: #cf6808;
  --text-color: #fff;
  --bg-dark: #0d0d0d;
  --bg-light: #1a1a1a;
}


body {
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
}


.logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--theme-color);
}

.logo span {
  color: #fff;
}



.contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #cf6808;
  font-weight: 600;
}


.about-hero {
  text-align: center;
  padding: 80px 10% 50px;
  background: #86817c;
}

.about-hero h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
}

.about-hero h1 span {
  color: #cf6808;
}

.about-hero p {
  color: #d0d0d0;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 15px auto 0;
  line-height: 1.6;
}


.about-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  background: #86817c;
  gap: 60px;
  padding: 80px 10%;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(207, 104, 8, 0.2);
}

.about-content h2 {
  color: #cf6808;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.about-content p {
  line-height: 1.7;
  margin-bottom: 12px;
  color: #ccc;
}


.about-values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 10%;
}

.value-box {
  background: var(--bg-light);
  border: 1px solid rgba(207, 104, 8, 0.3);
  border-radius: 12px;
  text-align: center;
  padding: 30px;
  flex: 1;
  min-width: 260px;
  transition: 0.3s;
}

.value-box i {
  font-size: 2.5rem;
  color: var(--theme-color);
  margin-bottom: 10px;
}

.value-box h3 {
  color: #fff;
  margin-bottom: 10px;
}

.value-box p {
  color: #bbb;
}

.value-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(207, 104, 8, 0.25);
}


.about-team {
  text-align: center;
  padding: 80px 10%;
}

.about-team h2 {
  color: #cf6808;
  font-size: 2rem;
  margin-bottom: 50px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.team-card {
  background: var(--bg-light);
  border-radius: 12px;
  overflow: hidden;
  width: 260px;
  transition: 0.3s;
  border: 1px solid rgba(207, 104, 8, 0.3);
}

.team-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team-card h4 {
  color: #fff;
  margin-top: 12px;
}

.team-card p {
  color: #bfbfbf;
  margin-bottom: 20px;
}

.team-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(207, 104, 8, 0.3);
}


@media (max-width: 992px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .navbar {
    display: none;
  }
}

@media (max-width: 600px) {
  .about-hero h1 {
    font-size: 2rem;
  }
  .footer-container {
    text-align: center;
  }
}
