
.auth-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}


.auth-box {
  background: #121212;
  color: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s ease;
}

/* ===== CLOSE BUTTON ===== */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}


.auth-form {
  display: none;
}

.auth-form.active {
  display: block;
}

.auth-form h2 {
  color: #cf6808;
  margin-bottom: 8px;
  text-align: center;
}

.auth-form p {
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
  margin-bottom: 20px;
}


.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #cf6808;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 35px;
  border-radius: 8px;
  border: none;
  background: #1e1e1e;
  color: #fff;
  font-size: 0.95rem;
}

.input-group input:focus {
  outline: 2px solid #cf6808;
}


.auth-btn {
  width: 100%;
  background: linear-gradient(90deg, #af5909, #cf6808);
  color: #fff;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.auth-btn:hover {
  transform: scale(1.02);
}


.switch-text {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.switch-text a {
  color: #cf6808;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}


@media (max-width: 500px) {
  .auth-box {
    width: 100%;
    max-width: 90%;
    padding: 25px 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
