
.breaker-balls {
  width: 100%;
  overflow: hidden;
  background:transparent;
  padding: 40px 0;
 
  position: relative;
}

.ball-line {
  display: inline-block;
  white-space: nowrap;
  animation: scrollInfiniteBalls 15s linear infinite;
}

.wave-ball {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 20px;
  border-radius: 50%;
  animation: ballWave 2s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.15s);
  box-shadow: 0 0 10px currentColor, 0 0 30px currentColor;
}


@keyframes scrollInfiniteBalls {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes ballWave {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-20px); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(20px); }
  100% { transform: translateY(0); }
}
