.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 120px 10%;
  background: #86817c;
  color: #fff;
}

.contact-form-section,
.contact-info {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #cf680850;
}

.contact-form-section {
  flex: 1.2;
}

.contact-info {
  flex: 0.8;
  position: sticky;
  top: 20px;
}

.contact-form-section h2,
.contact-info h2 {
  color: #cf6808;
  margin-bottom: 15px;
}

.contact-form-section p {
  margin-bottom: 25px;
  color: #ccc;
}


.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #cf6808;
  opacity: 0.8;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #2b2b2b;
  color: #fff;
  transition: 0.3s;
}

.input-group textarea {
  height: 100px;
  resize: none;
  padding-top: 14px;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #cf6808;
  box-shadow: 0 0 6px #cf680850;
}

#send-btn {
  width: 100%;
  background: linear-gradient(90deg, #cf6808, #e27614);
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

#send-btn:hover {
  opacity: 0.9;
}


.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  color: #ddd;
}

.info-item i {
  color: #cf6808;
  font-size: 18px;
  width: 22px;
}

.map iframe {
  border-radius: 10px;
  margin-top: 15px;
}
.map-container {
  margin-top: 30px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-info {
    position: static;
  }
}
