:root {
  --theme-color: #cf6808;
  --dark-bg: #0d0d0d;
  --text-color: #bfbfbf;
}


.policy-section {
  padding: 100px 10%;
  background: #86817c;
  color: #fff;
  line-height: 1.7;
}


.policy-hero {
  text-align: center;
  margin-bottom: 60px;
}

.policy-hero h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.policy-hero span {
  color: #cf6808;
}

.policy-hero p {
  color: #bbb;
  font-size: 1.1rem;
}


.policy-content {
  max-width: 900px;
  margin: 0 auto;
}

.policy-content h2 {
  color: #cf6808;
  font-size: 1.5rem;
  margin: 30px 0 10px;
}

.policy-content p {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 15px;
}

.policy-content a {
  color:#cf6808;
  text-decoration: none;
}

.policy-content a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .policy-section {
    padding: 80px 5%;
  }

  .policy-hero h1 {
    font-size: 2rem;
  }
}
