
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 background: radial-gradient(circle at top left, #1a1a1a 0%, #86817c 70%);
  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

a {
  color: #ff7a00;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #d4af37;
}

header {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 2px solid #ff7a00;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d4af37;
}

nav a {
  margin-left: 20px;
  font-weight: 500;
}


.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(90deg, #ff7a00, #d4af37);
  color: #0d0d0d;
  border-radius: 10px;
  margin: 40px auto;
  width: 85%;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.btn-primary {
  margin-top: 25px;
  background-color: #0d0d0d;
  color: #d36905;
  
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #7b3f07;
  color: #0d0d0d;
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px 60px;
}

.product-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid #2a2a2a;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  border-color: #ff7a00;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0;
  color: #d4af37;
}

form {
  width: 300px;
  margin: 50px auto;
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ff7a00;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #f5f5f5;
}

form button {
  margin-top: 20px;
  width: 100%;
  background-color: #ff7a00;
  color: #0d0d0d;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #d4af37;
}


.cart {
  width: 80%;
  margin: 50px auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  margin-top: 50px;
  font-size: 0.9rem;
  color: #b3b3b3;
}
